ChessClient/Connected Services/GameSessionEstablishmentServiceRef/GameSessionEstablishment.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GameSessionEstablishment" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IGameSessionEstablishment_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="900000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://176.197.36.4:8080/GameSessionEstablishmentService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://176.197.36.4:8080/GameSessionEstablishmentService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://176.197.36.4:8080/GameSessionEstablishmentService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ChessDotNet" />
      <xsd:import schemaLocation="http://176.197.36.4:8080/GameSessionEstablishmentService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GameSessionEstablishmentService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGameSessionEstablishment_ConnectToTheGame_InputMessage">
    <wsdl:part name="parameters" element="tns:ConnectToTheGame" />
  </wsdl:message>
  <wsdl:message name="IGameSessionEstablishment_DisconnectFromTheGame_InputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectFromTheGame" />
  </wsdl:message>
  <wsdl:message name="IGameSessionEstablishment_CreateNewGame_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewGame" />
  </wsdl:message>
  <wsdl:message name="IGameSessionEstablishment_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="IGameSessionEstablishment_Move_InputMessage">
    <wsdl:part name="parameters" element="tns:Move" />
  </wsdl:message>
  <wsdl:message name="IGameSessionEstablishment_GetGames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGames" />
  </wsdl:message>
  <wsdl:message name="IGameSessionEstablishment_SignupUser_InputMessage">
    <wsdl:part name="parameters" element="tns:SignupUser" />
  </wsdl:message>
  <wsdl:message name="IGameSessionEstablishment_ChangeUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeUsername" />
  </wsdl:message>
  <wsdl:message name="IGameSessionEstablishment_LoginUser_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginUser" />
  </wsdl:message>
  <wsdl:message name="IGameSessionEstablishment_SystemRequestForGameMaintenance_InputMessage">
    <wsdl:part name="parameters" element="tns:SystemRequestForGameMaintenance" />
  </wsdl:message>
  <wsdl:message name="IGameSessionEstablishment_CallbackInfo_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CallbackInfo" />
  </wsdl:message>
  <wsdl:message name="IGameSessionEstablishment_SuccesfullConnectionToTheGame_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SuccesfullConnectionToTheGame" />
  </wsdl:message>
  <wsdl:message name="IGameSessionEstablishment_UsernameChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UsernameChanged" />
  </wsdl:message>
  <wsdl:message name="IGameSessionEstablishment_OnMoved_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnMoved" />
  </wsdl:message>
  <wsdl:message name="IGameSessionEstablishment_GamesGetted_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GamesGetted" />
  </wsdl:message>
  <wsdl:message name="IGameSessionEstablishment_SuccesfullAuthentificate_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SuccesfullAuthentificate" />
  </wsdl:message>
  <wsdl:message name="IGameSessionEstablishment_GameUpdated_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GameUpdated" />
  </wsdl:message>
  <wsdl:message name="IGameSessionEstablishment_OnMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnMessage" />
  </wsdl:message>
  <wsdl:portType name="IGameSessionEstablishment">
    <wsdl:operation name="ConnectToTheGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameSessionEstablishment/ConnectToTheGame" message="tns:IGameSessionEstablishment_ConnectToTheGame_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisconnectFromTheGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameSessionEstablishment/DisconnectFromTheGame" message="tns:IGameSessionEstablishment_DisconnectFromTheGame_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameSessionEstablishment/CreateNewGame" message="tns:IGameSessionEstablishment_CreateNewGame_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameSessionEstablishment/SendMessage" message="tns:IGameSessionEstablishment_SendMessage_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Move">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameSessionEstablishment/Move" message="tns:IGameSessionEstablishment_Move_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGames">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameSessionEstablishment/GetGames" message="tns:IGameSessionEstablishment_GetGames_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignupUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameSessionEstablishment/SignupUser" message="tns:IGameSessionEstablishment_SignupUser_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameSessionEstablishment/ChangeUsername" message="tns:IGameSessionEstablishment_ChangeUsername_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameSessionEstablishment/LoginUser" message="tns:IGameSessionEstablishment_LoginUser_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SystemRequestForGameMaintenance">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameSessionEstablishment/SystemRequestForGameMaintenance" message="tns:IGameSessionEstablishment_SystemRequestForGameMaintenance_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CallbackInfo">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameSessionEstablishment/CallbackInfo" message="tns:IGameSessionEstablishment_CallbackInfo_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="SuccesfullConnectionToTheGame">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameSessionEstablishment/SuccesfullConnectionToTheGame" message="tns:IGameSessionEstablishment_SuccesfullConnectionToTheGame_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="UsernameChanged">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameSessionEstablishment/UsernameChanged" message="tns:IGameSessionEstablishment_UsernameChanged_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnMoved">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameSessionEstablishment/OnMoved" message="tns:IGameSessionEstablishment_OnMoved_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="GamesGetted">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameSessionEstablishment/GamesGetted" message="tns:IGameSessionEstablishment_GamesGetted_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="SuccesfullAuthentificate">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameSessionEstablishment/SuccesfullAuthentificate" message="tns:IGameSessionEstablishment_SuccesfullAuthentificate_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="GameUpdated">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameSessionEstablishment/GameUpdated" message="tns:IGameSessionEstablishment_GameUpdated_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnMessage">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameSessionEstablishment/OnMessage" message="tns:IGameSessionEstablishment_OnMessage_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IGameSessionEstablishment" type="tns:IGameSessionEstablishment">
    <wsp:PolicyReference URI="#NetTcpBinding_IGameSessionEstablishment_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ConnectToTheGame">
      <soap12:operation soapAction="http://tempuri.org/IGameSessionEstablishment/ConnectToTheGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="DisconnectFromTheGame">
      <soap12:operation soapAction="http://tempuri.org/IGameSessionEstablishment/DisconnectFromTheGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CreateNewGame">
      <soap12:operation soapAction="http://tempuri.org/IGameSessionEstablishment/CreateNewGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://tempuri.org/IGameSessionEstablishment/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Move">
      <soap12:operation soapAction="http://tempuri.org/IGameSessionEstablishment/Move" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetGames">
      <soap12:operation soapAction="http://tempuri.org/IGameSessionEstablishment/GetGames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SignupUser">
      <soap12:operation soapAction="http://tempuri.org/IGameSessionEstablishment/SignupUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ChangeUsername">
      <soap12:operation soapAction="http://tempuri.org/IGameSessionEstablishment/ChangeUsername" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <soap12:operation soapAction="http://tempuri.org/IGameSessionEstablishment/LoginUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SystemRequestForGameMaintenance">
      <soap12:operation soapAction="http://tempuri.org/IGameSessionEstablishment/SystemRequestForGameMaintenance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CallbackInfo">
      <soap12:operation soapAction="http://tempuri.org/IGameSessionEstablishment/CallbackInfo" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuccesfullConnectionToTheGame">
      <soap12:operation soapAction="http://tempuri.org/IGameSessionEstablishment/SuccesfullConnectionToTheGame" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UsernameChanged">
      <soap12:operation soapAction="http://tempuri.org/IGameSessionEstablishment/UsernameChanged" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnMoved">
      <soap12:operation soapAction="http://tempuri.org/IGameSessionEstablishment/OnMoved" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GamesGetted">
      <soap12:operation soapAction="http://tempuri.org/IGameSessionEstablishment/GamesGetted" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuccesfullAuthentificate">
      <soap12:operation soapAction="http://tempuri.org/IGameSessionEstablishment/SuccesfullAuthentificate" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GameUpdated">
      <soap12:operation soapAction="http://tempuri.org/IGameSessionEstablishment/GameUpdated" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnMessage">
      <soap12:operation soapAction="http://tempuri.org/IGameSessionEstablishment/OnMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameSessionEstablishment">
    <wsdl:port name="NetTcpBinding_IGameSessionEstablishment" binding="tns:NetTcpBinding_IGameSessionEstablishment">
      <soap12:address location="net.tcp://localhost:5005/GameSessionEstablishmentService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:5005/GameSessionEstablishmentService/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-0G9EUSK\soba4ka_kyshaet</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>