ChessClient/Connected Services/GameSessionEstablishmentServiceRef/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://176.197.36.4:8080/GameSessionEstablishmentService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ChessDotNet" />
  <xs:import schemaLocation="http://176.197.36.4:8080/GameSessionEstablishmentService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GameSessionEstablishmentService" />
  <xs:element name="ConnectToTheGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameId" type="xs:int" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gamePassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectFromTheGame">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gamename" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ChessDotNet" minOccurs="0" name="side" type="q1:Player" />
        <xs:element minOccurs="0" name="gamePassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Move">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="originalPosition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPosition" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SignupUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="confirmedPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newUsername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SystemRequestForGameMaintenance">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CallbackInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GameSessionEstablishmentService" minOccurs="0" name="result" nillable="true" type="q2:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuccesfullConnectionToTheGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GameSessionEstablishmentService" minOccurs="0" name="gameDescription" nillable="true" type="q3:GameDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsernameChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="newUsername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnMoved">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="originalPosition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPosition" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GamesGetted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GameSessionEstablishmentService" minOccurs="0" name="games" nillable="true" type="q4:ArrayOfGameDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuccesfullAuthentificate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rating" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GameUpdated">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GameSessionEstablishmentService" minOccurs="0" name="gameDescription" nillable="true" type="q5:GameDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>