ChessClient/Connected Services/GameSessionEstablishmentServiceRef/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GameSessionEstablishmentService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GameSessionEstablishmentService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OperationResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationResult" nillable="true" type="tns:OperationResult" />
  <xs:complexType name="GameDescription">
    <xs:sequence>
      <xs:element minOccurs="0" name="BlackPlayer" nillable="true" type="tns:Player" />
      <xs:element minOccurs="0" name="HasPassword" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateDerscription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TurnDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WhitePlayer" nillable="true" type="tns:Player" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameDescription" nillable="true" type="tns:GameDescription" />
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RatingForDraw" type="xs:int" />
      <xs:element minOccurs="0" name="RatingForLose" type="xs:int" />
      <xs:element minOccurs="0" name="RatingForWin" type="xs:int" />
      <xs:element minOccurs="0" name="TotalScore" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
  <xs:complexType name="ArrayOfGameDescription">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GameDescription" nillable="true" type="tns:GameDescription" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGameDescription" nillable="true" type="tns:ArrayOfGameDescription" />
</xs:schema>